*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Container */
.container {
	width: 100%;
	max-width: 1285px;
	margin: 0 auto;
}

/* Header */
header {
	height: 100%;
	max-height: 230px;
	background-color: #262626;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__img {
	margin-top: 15%;
	margin-bottom: 2%;
	margin-left: 50%;
}

.header__nav {
	margin-top: 4%;
	margin-right: 10%;
}

.nav__header {
	border: 3px solid #f0b922;
}

.nav__link {
	text-decoration: none;
	font-size: 35px;
	color: #f0b922;
	/*margin-left: 30px;*/
	padding: 3px 20px 3px 20px;
}
.nav__link:last-child {
	/*margin-right: 30px;*/
}
.nav__link:hover {
	background-color: #f0b922;
	color: black;
}